# {{ report.title }}
{% if report.description %}

{{ report.description }}
{% endif %}

_{{ report.date }}_
{% for simulation in simulations %}

## {{ simulation.title }}
{% if simulation.description %}

{{ simulation.description }}
{% endif %}
{% if simulation.schematic %}

### Schematic

![{{ simulation.title }} schematic]({{ simulation.schematic_rel }})
{% endif %}
{% if simulation.plots %}

### Simulation Results
{% for plot in simulation.plots %}

#### {{ plot.title }}

![{{ plot.caption }}]({{ plot.rel_path }})
{%- if plot.description %}

{{ plot.description }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
